<h1>Create New Section</h1>

<form action="/section" method="POST">
    <div>
        <label for="name">Name of the section</label>
        <input type="text" name="name" placeholder="Section's name" />
    </div>

    <button type="submit">Save Section</button>
</form>