<section class="content">

    <h1 class="title-wrap index-title">Welcome to {{title}}</h1>

    <div class="index-wrap">
        <a href="/menu/new" class="index-box bounce">
            Create new menu
        </a>
        <a href="/menu" class="index-box bounce brown">
            See all menus
        </a>
    </div>

</section>