<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <a href="/menu">
      <h2>MENU BUILDER</h2>
    </a>
  </header>
  {{{body}}}
  <footer>
    <p>Developed by Nestor Mendoza</p>
  </footer>
</body>


</html>