<section class="content">

    <div class="bread-crumbs">
        <div>
            Home
        </div>
    </div>

    <div class="title-wrap">
        <h1>All Menus</h1>
        <a href="/menu/new" class="newElement">Create new menu</a>
    </div>

    <ul class="menu-grid">
        {{#each listOfMenus}}
        <a href="/menu/{{_id}}">
            <li class="menu-wrap">
                <div class="menu-title">
                    <h2>{{name}}</h2>
                    <h3>{{category}}</h3>
                </div>
                <img src="{{picture}}" alt="" class="menu-image">
            </li>
        </a>
        {{/each}}
    </ul>

</section>
