<h1>Create New Menu</h1>

<form action="/menu" method="POST">
    <div>
        <label for="name">Name of the restaurant</label>
        <input type="text" name="name" placeholder="Restaurant's name" />
    </div>

    <div>
        <label for="category">Type of restaurant</label>
        <input type="text" name="category" placeholder="Homework subject" />
    </div>

    <div>
        <label for="picture">Picture</label>
        <input type="text" name="picture" placeholder="URL of the restaurant logo" />        
    </div>

    <button type="submit">Save Menu</button>
</form>

{{!--
<div>
    <label for="description">Homework Description</label>
    <textarea type="text" name="description" placeholder="Item description"></textarea>
</div> --}}